<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create_new_order</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>

<h1 id="restaurantName">Ca la mercè’t</h1>
<div>
    <nav id="nav">
        <ul>
            <li> <a href="/" id="linkref">Home</a></li>
            <li> <a href="/vendors" id="linkref">Vendors</a></li>
            <li> <a href="/create_new_order" id="linkref">Orders</a></li>
            <li> <a href="/product" id="linkref">Products</a></li>
            <li> <a href="/inventory" id="linkref">Inventory</a></li>
            <li> <a href="/dishes" id="linkref">Dishes</a></li>
            <li> <a href="/balance" id="linkref">Balance</a></li>
        </ul>
    </nav>
</div>
<h1>Orders</h1>


<h1>Add product</h1>

<table>
    <tbody>
    <tr>
        <td>
            <form action="/product" method="post">

                <label>Product name</label>
                <input type="text" name="product_description"/><br>

                <label>Price pr. kg</label>
                <input type="text" name="product_price_per_kg"/><br>

                <label>Amount in stock (kg)</label>
                <input type="text" name="product_amount"/><br>

                <input style="color: darkgreen" type="submit" value="Create new product"/>

            </form>
        </td>
    </tr>
    </tbody>
</table>



</body>
</html>