<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dishes</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>
<h1 id="restaurantName">Ca la mercè’t</h1>
    <div id="navibar1">
        <a href="/" id="linkref">Home</a>
        <a href="/vendors" id="linkref">Vendors</a>
        <a href="/create_new_order" id="linkref">Orders</a>
        <a href="/product" id="linkref">Products</a>
        <a href="/inventory" id="linkref">Inventory</a>
        <a href="/dishes" id="linkref">Dishes</a>
        <a href="/balance" id="linkref">Balance</a>
    </div>
    <h1 dishes></h1>

<form>

</form>

</body>
</html>