<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>
    <h1>navigation bar</h1>

    <h1>This is my page</h1>
    <nav>
        <ul class = "navibar">
            <li><a href="/">Home</a></li>
            <li><a href="/create_new_order">Order</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/vendors">Vendors</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/balance">Balance</a></li>
        </ul>

    </nav>


    <a href="/create_new_order">
        <button class ="btn-create_new_order btn" id="btn-create_new_order"> Create new order </button>
    </a>

    <h1>Person list</h1>


    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Zip code</th>
            <th>City</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="zip_code: ${zip_codes}">
                <td th:text="${zip_code.zip_code_id}"/>
                <td th:text="${zip_code.zip_code}"/>
                <td th:text="${zip_code.city}"/>
                <td>

                </td>
            </tr>
        </tbody>
    </table>

    <form>
        <select th:each="zip_code: ${zip_codes}">
            <option th:each="zip_code: ${zip_codes}"/>
            <option th:text="${zip_code.zip_code}"/>
        </select>
    </form>


</body>
</html>