<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>

<body>
    <h1 id="restaurantName">Restaurant name</h1>

    <div id="navibar1">
        <a href="/" id="linkref">Home</a>
        <a href="/vendors" id="linkref">Vendors</a>
        <a href="/create_new_order" id="linkref">Orders</a>
        <a href="/product" id="linkref">Products</a>
        <a href="/inventory" id="linkref">Inventory</a>
        <a href="/dishes" id="linkref">Dishes</a>
        <a href="/balance" id="linkref">Balance</a>
    </div>

</body>
</html>

<!--

<nav>
        <ul class = "navibar">
            <li><a href="/">Home</a></li>
            <li><a href="/create_new_order">Order</a></li>
            <li><a href="/dishes">Dishes</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/vendors">Vendors</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/balance">Balance</a></li>
        </ul>

    </nav>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Zip code</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="zip_code: ${zip_codes}">
        <td th:text="${zip_code.zip_code_id}"/>
        <td th:text="${zip_code.zip_code}"/>
        <td th:text="${zip_code.city}"/>
    </tr>
    </tbody>
</table>

<form>
    <select th:each="zip_code: ${zip_codes}">
        <option th:each="zip_code: ${zip_codes}"/>
        <option th:text="${zip_code.zip_code}"/>
    </select>
</form>
-->