<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>

<a href="/">
    <button class ="btn-index btn" id="btn-index"> Home </button>
</a>

<h1>Product list</h1>

<table>
    <tbody>

    <tr>
        <td>
            <form action="/product" method="post">

                <label>Product name</label>
                <input type="text" name="product_description"/><br>

                <label>Price pr. kg</label>
                <input type="text" name="product_price_per_kg"/><br>

                <label>Amount in stock (kg)</label>
                <input type="text" name="product_amount"/><br>

                <input style="color: darkgreen" type="submit" value="create new product"/>

            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>

<table>
    <thead id="productTable">
    <tr>
        <th>Id</th>
        <th>Product name</th>
        <th>Price per kilo</th>
        <th>Amount in stock (kg)</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="product: ${Products}">
        <td th:text="${product.product_id}"/>
        <td th:text="${product.product_description}"/>
        <td th:text="${product.product_price_per_kg}"/>
        <td th:text="${product.product_amount}"/>



    </tr>
    </tbody>
</table>

</body>
</html>