<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>product</title>
    <link rel="stylesheet" type="text/css" href="MyCss.css">
</head>
<body>

<a href="/">
    <button class ="btn-index btn" id="btn-index"> Home </button>
</a>

<h1>Add product to list</h1>

<table>
    <thead>
    <tr>
        <th>Product name</th>
        <th>Price per kilo</th>
        <th>Kilo in storage</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <form action="/product" method="post">
                <label>Product name</label>
                <input type="text" name="product_description"/> <br>

                <label>Price pr. kg</label>
                <input type="text" name="product_price_per_kg"/> <br>

                <label>Amount in stock (kg)</label>
                <input type="text" name="product_amount"/>

                <input style="color: darkgreen" type="submit" value="create new product"/>
            </form>
        </td>
        <td>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>


<h1>Product list</h1>


<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Product name</th>
        <th>price pr kg</th>
        <th>product amount</th>
    </tr>
    </thead>
    <tbody>
    <tr each="product: ${product}">
        <td text="${product.product_id}"/>
        <td text="${product.product_description}"/>
        <td text="${product.product_price_per_kg}"/>
        <td text="${product.product_amount}"/>
        <td>

        </td>
    </tr>
    </tbody>
</table>